/* css contacto */

#contacto{background-color:  rgb(204, 204, 204);}

.cajaMapa{padding: 10px; margin: 50px;}


.tituloContacto{font-size: 50px;text-decoration: underline;}

.cuerpoContacto{display: flex; flex-direction: row;}

.formulario{position: relative; right: 100px;}
    
@media (min-width: 576px) and (max-width: 991px){
.cuerpoContacto{flex-direction: column;}
.formulario{width: 90%; position: relative; left: 25px; align-content: center;}
.mapa{width: 90%; height: 50%;}
input{width: 255px;}
}

@media (min-width: 320px) and (max-width: 576px){
    .cuerpoContacto{flex-direction: column;}
    .formulario{width: 90%; justify-content: center; margin-left: 120px;}
    .mapa{width: 90%; height: 50%;}
    }

.mapa{width: 650px; height: 400px; max-width: 100%;}