/* css contacto */

#contacto{background-color:  rgb(204, 204, 204);}

.cajaMapa{padding: 10px; margin: 50px;}


.tituloContacto{font-size: 50px;text-decoration: underline;}

.cuerpoContacto{display: flex; flex-direction: row;}

.formulario{position: relative; right: 100px;}
    
@media (min-width: 320px) and (max-width: 991px){
.cuerpoContacto{flex-direction: column;}
.formulario{padding-left: 200px;}
.mapa{width: 90%; height: 50%;}
#home{background-size: cover;}
}

.mapa{width: 650px; height: 400px; max-width: 100%;}