/* footer */

.textoFooter{text-align: justify;}

.listaFooter{justify-content: center;}

.botonFooter{background-color: darkred;border-color: darkred;}

.botonFooter:hover{background-color: black; border-color: black;}

@media (min-width: 320px) and (max-width: 991px){

.seccionFooter{display: none;}
.footerMobile{width: max-content;}
}