/* css galeria */

#galeria{background-color: cadetblue; overflow: hidden;}

.tituloGaleria{margin: 50px; text-decoration: underline; font-size: 55px;}

.videoUno{display:flex; margin: 10px;flex-direction: column; width: 600px; height: 425px;}

.videoDos{display:flex; margin: 10px; flex-direction: column; width: 600px; height: 425px;}

.videoTres{display:flex; margin: 10px; flex-direction: column; width: 600px; height: 425px;}

.tituloVideoUno{transition: all 0.5s;}

.tituloVideoUno:hover{font-size: 50px;}

.tituloVideoDos{transition: all 0.5s;}

.tituloVideoDos:hover{font-size: 50px;}

.tituloVideoTres{transition: all 0.5s;}

.tituloVideoTres:hover{font-size: 50px;}

.galeriaPadre{display:flex; flex-direction: row; 
    justify-content: center; align-items: stretch; flex-wrap: wrap; }

    h2{font-size: 40px;}

    @media (min-width: 320px) and (max-width: 991px) {
        .tituloGaleria{font-size: 40px;}
        .videoUno{ width: 90%; height: 50%;}

        .videoDos{width: 90%; height: 50%;}

        .videoTres{ width: 90%; height: 50%;}

        h2{font-size: 25px;}
        
        .tituloVideoUno{transition: all 0.5s;}

        .tituloVideoUno:hover{font-size: 35px;}

        .tituloVideoDos{transition: all 0.5s;}

        .tituloVideoDos:hover{font-size: 35px;}

        .tituloVideoTres{transition: all 0.5s;}

        .tituloVideoTres:hover{font-size: 35px;}

    }
