/* css home */ 

#home{background-image: url(./img-compressed/fondoNY.jpeg); background-size: 100%; height: max-content;
    padding-top: 0; margin-top: 0; background-repeat: no-repeat; background-size: cover; overflow: hidden;
}

.index {background-color: rgb(204, 204, 204); z-index: -1;}

.textoHome{font-size: 35px; text-align: center; color: darkred; font-family: Verdana, Geneva, Tahoma, sans-serif; }

.subtituloHome{max-width: auto; padding: 250px 50px 50px 50px; margin: 50px; color: darkred; font-size: 70px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}

.boton{font-size: 30px; background-color: darkred; border: darkred;}

.boton:hover{background-color: black;}

.botonChico{font-size: 20px; background-color: darkred; border: darkred; ;}

.botonChico:hover{background-color: black;}

.botonChicoDos{font-size: 20px;}

.modal-body{font-size: 17px;}

.cajaMenu {flex-direction: column;}

.cajaAcordeon{padding: 100px;}

@media (min-width: 350px) and (max-width: 576px) {
    .tituloHome{display: none;}
    .subtituloHome{font-size: 50px; position: relative; right: 70px; width: 70%;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
    .textoHome{font-size: 25px; text-align: center; color: darkred; font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .logo{display: none;}
    .nav-link{background-color: rgb(51, 48, 48);}
    .cajaAcordeon { width: 100%; font-size: 15px; padding: 40px;} 
    .acordeon{width: 100%;}
    h5{font-size: 20px;}
}

@media (min-width: 576px) and (max-width: 991px) {
    .tituloHome{display: none;}
    .logo{display: none;}
    .nav-link{background-color: rgb(51, 48, 48);}
    .cajaAcordeon { width: 100%; font-size: 70px;} 
    h5{font-size: 20px;}
}


