/* css servicios */

#fotoServicios{width: 100%; height: 900px;}

#overflow{overflow: hidden;}

#servicios{background-color: rgb(204, 204, 204);}

.botonGratis{font-size: 30px; background-color: rgb(194, 95, 95); color: white; border: rgb(194, 95, 95);}

.botonPremium{font-size: 30px; background-color:  rgb(153, 67, 67); border:  rgb(153, 67, 67);}

.botonPro{font-size: 30px; background-color: darkred; border: darkred;}

.navbar-collapse{z-index: 99;}

.fotoServicios{height: 500px; width: 500px;}

@media (min-width: 350px) and (max-width: 576px){


}