@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

/* genéricos */
.overflow {
  overflow: -moz-hidden-unscrollable; }

h1 {
  padding: 10px;
  margin: 10px;
  color: white;
  display: flex;
  flex-grow: 1;
  width: 50%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px; }

h5 {
  font-size: 30px;
  text-align: center; }

p {
  font-size: 25px; }

/* css header */
.container-fluid {
  height: 90px;
  font-size: 30px;
  width: 50%; }

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px; }

.nav-item {
  font-size: 30px; }

/* css home */
#home {
  background-image: url(./img-compressed/fondoNY.jpeg);
  background-size: 100%;
  height: max-content;
  padding-top: 0;
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }

.index {
  background-color: #cccccc;
  z-index: -1; }

.textoHome {
  font-size: 35px;
  text-align: center;
  color: darkred;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.subtituloHome {
  max-width: auto;
  padding: 250px 50px 50px 50px;
  margin: 50px;
  color: darkred;
  font-size: 70px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.boton {
  font-size: 30px;
  background-color: darkred;
  border: darkred; }

.botonChico {
  font-size: 20px;
  background-color: darkred;
  border: darkred; }

.botonChicoDos {
  font-size: 20px; }

.modal-body {
  font-size: 17px; }

.cajaMenu {
  flex-direction: column; }

.cajaAcordeon {
  padding: 100px; }

@media (min-width: 350px) and (max-width: 576px) {
  .tituloHome {
    display: none; }
  .subtituloHome {
    font-size: 50px;
    position: relative;
    right: 70px;
    width: 70%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  .textoHome {
    font-size: 25px;
    text-align: center;
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .logo {
    display: none; }
  .nav-link {
    background-color: #333030; }
  .cajaAcordeon {
    width: 100%;
    font-size: 15px;
    padding: 40px; }
  .acordeon {
    width: 100%; }
  h5 {
    font-size: 20px; } }

@media (min-width: 576px) and (max-width: 991px) {
  .tituloHome {
    display: none; }
  .logo {
    display: none; }
  .nav-link {
    background-color: #333030; }
  .cajaAcordeon {
    width: 100%;
    font-size: 70px; }
  h5 {
    font-size: 20px; } }

/* css nosotros */
#nosotros {
  background-color: #cccccc; }

.tituloNosotros {
  font-size: 50px;
  text-decoration: underline; }

.cajaNosotros {
  padding: 30px;
  text-align: center; }

.nosotrosCuerpo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.mision {
  padding: 15px;
  width: 43%;
  height: 500px;
  margin: 50px;
  font-size: 30px;
  font-style: italic;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid black 3px;
  box-shadow: 10px 10px 5px 0px darkred;
  -webkit-box-shadow: 10px 10px 5px 0px darkred;
  -moz-box-shadow: 10px 10px 5px 0px darkred; }

/* .mision:hover {
    height: 420px;
    width: 44%;
  } */
.vision {
  padding: 15px;
  width: 43%;
  height: 500px;
  margin: 50px;
  font-size: 30px;
  font-style: italic;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  border: solid black 3px;
  box-shadow: 10px 10px 5px 0px darkred;
  -webkit-box-shadow: 10px 10px 5px 0px darkred;
  -moz-box-shadow: 10px 10px 5px 0px darkred; }

/* 
.vision:hover {
    height: 420px;
    width: 44%;
  } */
@media (min-width: 320px) and (max-width: 767px) {
  .nosotrosCuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .vision {
    padding: 15px;
    width: 90%;
    height: 30%;
    margin: 50px;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    border: solid black 3px;
    box-shadow: 10px 10px 5px 0px darkred;
    -webkit-box-shadow: 10px 10px 5px 0px darkred;
    -moz-box-shadow: 10px 10px 5px 0px darkred; }
  .mision {
    padding: 15px;
    width: 90%;
    height: 30%;
    margin: 50px;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid black 3px;
    box-shadow: 10px 10px 5px 0px darkred;
    -webkit-box-shadow: 10px 10px 5px 0px darkred;
    -moz-box-shadow: 10px 10px 5px 0px darkred; } }

@media (min-width: 768px) and (max-width: 991px) {
  .nosotrosCuerpo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .vision {
    padding: 15px;
    width: 90%;
    height: 30%;
    margin: 50px;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    border: solid black 3px;
    box-shadow: 10px 10px 5px 0px darkred;
    -webkit-box-shadow: 10px 10px 5px 0px darkred;
    -moz-box-shadow: 10px 10px 5px 0px darkred; }
  .mision {
    padding: 15px;
    width: 90%;
    height: 30%;
    margin: 50px;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid black 3px;
    box-shadow: 10px 10px 5px 0px darkred;
    -webkit-box-shadow: 10px 10px 5px 0px darkred;
    -moz-box-shadow: 10px 10px 5px 0px darkred; } }

.empleo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px; }

.botonEmpleo {
  color: darkred;
  border-color: darkred; }

.ofertaEmpleo {
  margin-bottom: 50px;
  margin-top: 50px; }

.fotoPerfil {
  border-radius: 50%;
  width: 140px;
  height: 140px; }

.cuerpo {
  display: flex;
  flex-direction: column; }

.row {
  padding: 50px; }

.linkedin {
  height: 50px;
  width: 100px;
  border: black 2px solid;
  padding: 0px;
  margin: 0px; }

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.marketing h2 {
  font-weight: 400; }

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }

/* css servicios */
#fotoServicios {
  width: 100%;
  height: 900px; }

#overflow {
  overflow: hidden; }

#servicios {
  background-color: #cccccc; }

.botonGratis {
  font-size: 30px;
  background-color: #c25f5f;
  color: white;
  border: #c25f5f; }

.botonPremium {
  font-size: 30px;
  background-color: #994343;
  border: #994343; }

.botonPro {
  font-size: 30px;
  background-color: darkred;
  border: darkred; }

.navbar-collapse {
  z-index: 99; }

.fotoServicios {
  height: 500px;
  width: 500px; }

/* css galeria */
#galeria {
  background-color: #cccccc; }

.tituloGaleria {
  margin: 50px;
  text-decoration: underline;
  font-size: 55px; }

.videoUno {
  display: flex;
  margin: 10px;
  flex-direction: column;
  width: 600px;
  height: 425px; }

.videoDos {
  display: flex;
  margin: 10px;
  flex-direction: column;
  width: 600px;
  height: 425px; }

.videoTres {
  display: flex;
  margin: 10px;
  flex-direction: column;
  width: 600px;
  height: 425px; }

.tituloVideoUno {
  transition: all 0.5s;
  font-size: 30px;
  text-align: center;
  color: darkred;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.tituloVideoUno:hover {
  font-size: 35px; }

.tituloVideoDos {
  transition: all 0.5s;
  font-size: 30px;
  text-align: center;
  color: darkred;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.tituloVideoDos:hover {
  font-size: 35px; }

.tituloVideoTres {
  transition: all 0.5s;
  font-size: 30px;
  text-align: center;
  color: darkred;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.tituloVideoTres:hover {
  font-size: 35px; }

.galeriaPadre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; }

h2 {
  font-size: 40px; }

@media (min-width: 320px) and (max-width: 991px) {
  .tituloGaleria {
    font-size: 40px; }
  .videoUno {
    width: 90%;
    height: 50%; }
  .videoDos {
    width: 90%;
    height: 50%; }
  .videoTres {
    width: 90%;
    height: 50%; }
  h2 {
    font-size: 25px; }
  .tituloVideoUno {
    transition: all 0.5s; }
  .tituloVideoUno:hover {
    font-size: 35px; }
  .tituloVideoDos {
    transition: all 0.5s; }
  .tituloVideoDos:hover {
    font-size: 35px; }
  .tituloVideoTres {
    transition: all 0.5s; }
  .tituloVideoTres:hover {
    font-size: 35px; } }

/* css contacto */
#contacto {
  background-color: #cccccc; }

.cajaMapa {
  padding: 10px;
  margin: 50px; }

.tituloContacto {
  font-size: 50px;
  text-decoration: underline; }

.cuerpoContacto {
  display: flex;
  flex-direction: row; }

.formulario {
  position: relative;
  right: 100px; }

@media (min-width: 576px) and (max-width: 991px) {
  .cuerpoContacto {
    flex-direction: column; }
  .formulario {
    width: 90%;
    position: relative;
    left: 25px;
    align-content: center; }
  .mapa {
    width: 90%;
    height: 50%; }
  input {
    width: 255px; } }

@media (min-width: 320px) and (max-width: 576px) {
  .cuerpoContacto {
    flex-direction: column; }
  .formulario {
    width: 90%;
    justify-content: center;
    margin-left: 120px; }
  .mapa {
    width: 90%;
    height: 50%; } }

.mapa {
  width: 650px;
  height: 400px;
  max-width: 100%; }

/* footer */
.textoFooter {
  text-align: justify; }

.listaFooter {
  justify-content: center; }

.botonFooter {
  background-color: darkred;
  border-color: darkred; }

@media (min-width: 320px) and (max-width: 991px) {
  .seccionFooter {
    display: none; }
  .footerMobile {
    width: max-content; } }
